



<%- include("./partials/header") %>

<h2><%= title %></h2>
<p>This shows a list of students and their grades</p>
<a href="/students">STUDENTS</a>
<p>
    EJS stands for Embedded JavaScript Templates -- it allows you to write logic directly in HTML.
    <br>
    You can reuse layout parts using partials (header/footer).
    <br>
    You can inject variables and arrays from your Node.js backend into your HTML easily.
    <br>
    It's often used in small to medium Express Apps or admin dashboards where you don't need a full frontend framework like React
</p>

<%- include("./partials/footer") %>